@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;
@model zadanie03.Pages.Numbers.IndexModel

@{
    ViewData["Title"] = "Recently Searched";
}

<h1>FizzBuzz recently searches</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num[0].When)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Num)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.When)
                </td>
                <td>

                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    @if (signInManager.IsSignedIn(User) && item.UserID == userManager.GetUserId(User))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
